* {
    margin: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #393e50;
    background-image: url(images/landing-bg-pattern.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: white;
    overflow: hidden;
    height: 100vh;
    text-transform: uppercase;
}

nav {
    margin: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}

.logo p {
    margin: 0;
}

.theme {
    padding: 15px;
    height: max-content;
    border: 2px solid white;
    border-radius: 3px;
    text-decoration: unset;
    color: white;
}

.theme:hover {
    background-color: #fcef57;
    color: black;
}

main {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.sports {
    width: 100%;
    margin: 60px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    height: max-content;
}

.player1,
.player2 {
    width: 100%;
    transition: transform 1s;
    z-index: 10000;
}

.player1:hover {
    transform: rotate(40deg);
}

#player2 {
    width: 100%;
    transition: transform 1s;
}

.player2:hover {
    transform: rotate(-40deg);
}

.sport {
    position: relative;
    padding: 20px;
    display: flex;
    height: max-content;
    gap: 30px;
    z-index: 1;
    border-radius: 5px;
    /* overflow: hidden; */

}

.sport:hover::before {
    transform: skewY(6deg);
}

.sport:hover .image {
    transform: scale(1.1);
}

.infos {
    width: 100%;
    padding: 10px;
}

.image {
    padding: 10px;
    transition: transform .5s;
    width: 100%;
    z-index: 20;
}

.number {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.45);
}

.name {
    text-align: center;
}

.sport::before {
    content: "";
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
    transform: skewY(2.5deg);
    transition: transform .5s;
    /* top: -40px;
    right: -15px;
    width: 115%;
    height: 60px;
    background-color: #393e50;
     */

}

#soccer::before {
    background: linear-gradient(#3db079, #7ac277, #c2d875);
}

#baseball::before {
    background: linear-gradient(#93dbaa, #7bccc6, #66bede);
}

#billiards::before {
    background: linear-gradient(#fce25e, #fab570, #f98d81);
}

#rugby::before {
    background: linear-gradient(#526296, #6282b6);
}

#basketball::before {
    background: linear-gradient(#f2a54a, #f6bf79);
}

#bowling::before {
    background: linear-gradient(#434bbe, #59b0d0);
}

@media screen and (min-width:2000px) {
    nav {
        margin-top: 100px;
    }

    .player1,
    .player2 {
        margin: 100px;
        margin-top: 320px;
    }

    .sports {
        margin-top: 300px;
    }
}